[submodule "lib"]
	path = lib
	url = git@github.com:FloweyTheFlower420/nostd.git
[submodule "libimpl/memory-allocator"]
	path = libimpl/memory-allocator
	url = git@github.com:FloweyTheFlower420/memory-allocator.git
[submodule "terminal"]
	path = terminal
	url = https://github.com/limine-bootloader/terminal.git
